$blue: #3578eb;

body {
  @media screen and (max-width: 1200px) {
    background: linear-gradient(to top, #f6f7f9 62%, $blue 62%) no-repeat;
    background-color: #f6f7f9;
  }
  background: linear-gradient(to left, #f6f7f9 62%, $blue 62%);
  background-color: #f6f7f9;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.anim {
  transition: ease-in-out 0.8s;
}

.container {
  @extend .flex-center;
  position: relative;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  @extend .flex-center;
  background: #fff;
  border-radius: 25px;
  box-shadow: 0 16px 32px 0 rgba(0, 31, 109, 0.18);
  width: 600px;
  height: 625px;
  flex-direction: column;
  z-index: 1;
  @media only screen and (max-width: 800px) {
    max-width: 504px;
  }
}

form {
  width: 65%;
}

.wrapper {
  @extend .anim;
  display: flex;
  box-sizing: border-box;
}

.historical {
  @extend main;
  @extend .anim;
  padding: 70px 0 50px 70px;
  box-sizing: border-box;
  justify-content: start;
  position: absolute;
  background-color: $blue;
  transform: translate(70px);
  z-index: 0;
  margin-bottom: 50px;

  .content {
    position: relative;
    height: 500px;
    max-width: 450px;
    overflow-x: hidden;
  }
  .tab {
    @extend .flex-center;
    @extend .anim;
    writing-mode: vertical-rl;
    position: absolute;
    top: 10px;
    right: 11px;
  }
  .labels {
    color: #fff !important;
  }
  .reset {
    text-align: center;
    font-size: 18px;
  }
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    background: #93b4ee;
  }
  ::-webkit-scrollbar-thumb {
    background: #fff;
  }
}

.selects {
  margin: 45px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
}

h3,
pre {
  color: $blue;
}
